<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile" layout="${longdate}|${level}|${callsite} | ${message}" xsi:type="File" fileName="${basedir}/Logs/${date:format=yyyy-MM-dd} log.txt" />
    <target name="tracefile" layout="${longdate}|${level}|${callsite} | ${message}" xsi:type="File" fileName="${basedir}/Logs/Trace/${date:format=yyyy-MM-dd} trace.txt" />
    <target name="logconsole" layout="${callsite} - ${message}" xsi:type="Console" />
  </targets>

  <rules>
    <logger name="*" level="Info" writeTo="logfile" />
    <logger name="*" level="Debug" writeTo="logfile" />
    <logger name="*" level="Warn" writeTo="logfile" />
    <logger name="*" level="Fatal" writeTo="logfile" />
    <logger name="*" level="Trace" writeTo="tracefile" />
  </rules>
</nlog>